@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="navbar">
        <h1>Bom apetite!</h1>

    </div>
</div>
<img src="https://www.botecodojuca.com.br/wp-content/uploads/2016/09/pratocomida-1-300x165.png" />
<img src="https://www.botecodojuca.com.br/~botecodojuca/wp-content/uploads/2016/09/prato1.png" />
<legend class="label-default">Sistema de cadastro de restaurantes</legend>